<h1><%= @tag.name %></h1>
<hr noshade size="1">

<% @tag.campaigns.each do |campaign| %>
  <div class="form-group">
    <h2><%= campaign.title %></h2>
    <p><%= campaign.summary %></p>
    <p><strong><%= t('.author')%>:  </strong> <%= campaign.user.email %></p>

    <br>

    <section class="footer-summary">
      <%= raw campaign.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "badge badge-secondary" }.join(' ') %>
    </section>

    <br>

    <%= link_to t('.more'), campaign %>

    <hr>

  </div>
<% end %>
