<h1><%= t('.tiding editing') %></h1>
<%= form_for :tiding, url: campaign_tiding_path(@campaign), method: :patch do |f| %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field(:title, {:class => 'form-control'}) %>
</div>
<div class="form-group">
  <%= f.label :body %>
  <%= f.trix_editor :body, class: 'editor' %>
</div>
<div class="form-group">
  <%= f.file_field :image %>
</div>
<div class="form-group">
  <%= f.submit(t('.submit'), {:class => 'btn btn-primary'}) %>
</div>
<% end %>
