<div class="row">
  <div class="col-md-10">
    <h1><%= t('.all articles')%></h1>
    <hr noshade size="1">

    <% @campaign.each do |campaign| %>
      <div class="form-group">
        <h2><%= campaign.title %></h2>
        <p><%= campaign.summary %></p>
        <div class="form-group">
          <%= image_tag campaign.image.to_s, class: "img-show" if campaign.image? %>
        </div>

        <br>
        <% if campaign.category.present? %>
        <p><%= link_to campaign.category.name, campaign.category, class: "btn btn-primary btn-sm" %></p>
        <% end %>
        <section class="footer-summary">
          <%= raw campaign.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "badge badge-secondary" }.join(' ') %>
        </section><br>
        <p><strong><%= t('.creator')%>:  </strong> <%= campaign.user.email %></p>

        <%= link_to t('.more...'), campaign %>
        <hr>
      </div>
    <% end %>
  </div>
  <div class="col-md-2">
    <h2><%= t('.categories')%></h2>
    <% for category in Category.all %>
    <p><%= link_to category.name, category_path(category) %></p>
    <% end %>
    <h2><%= t('.tags')%></h2>
    <% tag_cloud(Tag.counts) do |tag| %>
      <%= link_to tag.name, tag_path(tag.name) %>
    <% end %>
  </div>
</div>
