      <h2><%= @campaign.title %></h2>

    <div class="form-group">
      <%= image_tag @campaign.image.to_s, class: "img-show" if @campaign.image? %>
    </div>
    <p><%= @campaign.body.html_safe %></p>
    <% if @campaign.video != "" %>
      <br>
      <iframe width="550" height="315" src="<%= @campaign.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>
    <% end %>
    <br>
    <% if user_signed_in? %>
      <% if @campaign.user==current_user || current_user.admin %>
        <%= link_to t('.edit'), edit_campaign_path(@campaign), :class => 'btn btn-outline-primary' %>
        <%= link_to t('.delete'), campaign_path(@campaign), method: :delete, data: {confirm: "Вы уверены?"}, :class => 'btn btn-outline-danger' %>
      <% end %>
    <%end%>
    <%= link_to t('.back'), home_path, :class => 'btn btn-outline-primary' %>
    <hr>
    <h2><%= t('.comments')%></h2>
    <% @campaign.comments.each do |comment| %>
      <div class="alert alert-light">
        <p><strong><%= comment.username %></strong>: <%= comment.body %></p>
        <% if user_signed_in? %>
          <% if comment.username==current_user.email || current_user.admin %>
            <%= link_to t('.delete'), [comment.campaign, comment], method: :delete, data: {confirm: "Вы уверены?"} %>
          <% end %>
        <%end%>
        <hr>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <%= form_for([@campaign, @campaign.comments.build]) do |f| %>
        <p>
          <%= f.hidden_field :username, :value => current_user.email %>
          <%= f.text_area(:body, {:class => 'form-control'}) %>
        </p>
        <p>
          <%= f.submit(t('campaigns.show.comment.comment'), {:class => 'btn btn-primary'}) %>
        </p>
      <% end %>
    <%end%>
  </div>


 </div>
